name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint:
    runs-on: ubuntu-latest
    container: python:3.8-alpine
    steps:
    - uses: actions/checkout@v2
    - name: Install cpplint
      run: pip install cpplint
    - name: Run cpplint
      run: cpplint --recursive plugins/

  build:
    runs-on: ubuntu-latest
    container: gcc:latest
    steps:
    - uses: actions/checkout@v2
    - name: Update git DPF submodule
      run: git submodule sync && git submodule update --init
    - name: Install build dependecies
      run: |
        apt update
        apt install -y mesa-common-dev libjack-dev libgl1-mesa-dev        
    - name: Build
      run: make
